<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
    <ul class="header-ul">
   		 <li><a class="header" th:href="@{/}">Home</a></li>
        <li><a class="header" th:href="@{/viewListProduct}">Product List</a></li>
        <li><a class="header" th:href="@{/addProduct}"> Create Product</a></li>
         <li><a class="header" th:href="@{/searchProduct}"> Search Product</a></li>
         <li><a class="header" th:href="@{/testable}"> Test Table</a></li>
    </ul>

</body>
</html>